.form {
  .banner {
    width: 100%;
    height: 1.31rem;
   img {
     width:100%;
     height:100%;
   }

  }
  .login-box {
    width: 88%;

  }
  .center {
    position: relative;
    margin: 0 auto;
  }
  .login-item-sex {
    margin-top: .1rem;
    font-size: .16rem;
    .item-label {
      line-height: .4rem;
    }
    label {
      margin-right: .25rem;
    }
    input {
      margin-right: 5px;
      margin-left: .2rem;
    }
  }

  .login-item {
    margin-top: .1rem;
    font-size: .16rem;
    .item-label {
      line-height: .4rem;
    }
    input {
      width: 100%;
      height: .3rem;
      line-height: .3rem;
      border: 1px solid #a9a9a9;
    }
    textarea {
      width: 100%;
      border: 1px solid #a9a9a9;
    }
    .upload {
      display: inline-block;
      background: url('../../assets/images/sum.png') no-repeat;
      width: .15rem;
      height: .15rem;
      background-position: center;
      background-size: contain;
      line-height: .2rem;
      vertical-align: bottom;
    }
    .upload-input {
      display: none;
    }
    span {
      color: #a9a9a9;
      font-size: .1rem;
    }
  }
  .submit {
    width: 100%;
    border-radius: 5px;
    height: .32rem;
    background-color: #0066ff;
    color: #fff;
    margin-top: .15rem;
  }
  .none {
    display:none;
  }
  .block {
    display:block;
  }

  .preview {
    width: .8rem;
    height: .8rem;
  }

  .op {
    display: flex;
  }
}


.order-success-page {

  .log {
    margin-top: .6rem;
    margin-bottom: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .am-icon-5rem {
      width: .5rem;
      height: .5rem;
    }
  }

  .success-title {
    font-size: .3rem;
    color: #067cdd;
    text-align: center;
    font-weight: 400;
  }

  .success-go-btn {
    background: linear-gradient(to right, #71b1e6 , #067cdd);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2.83rem;
    height: .46rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    border-radius: .2rem;
    text-align: center;
    font-size: .2rem;
    color: white;
    line-height: .46rem;
  }
}