.order-list {
  .team-box {
    width:88%;
  }
  .center {
    position:relative;
    margin:0 auto;
  }
  .team-item {
    height:auto;
    border:1px solid #a9a9a9;
    border-radius: 5px;
    margin-top:.2rem;
    overflow: hidden;
    padding:.13rem .2rem 0 .2rem;
    .team-center{
      margin:0 auto;
      position:relative;
    }
    .team-item-top {
      height:.64rem;
      img {
        width:.64rem;
        height:.64rem;
        float:left
      }
      .top-center {
        width:40%;
        float:left;
        margin-top:.05rem;
        margin-left:.15rem;

        span{
          line-height:.28rem;
          font-size:.15rem;
        }
        .gray {
          color:#a9a9a9;
          font-size:.12rem;
        }
      }
      .top-button {
        float: right;
        background: #0033d9;
        width: .68rem;
        height:.22rem;
        color: #fff;
        text-align: center;
        line-height:.22rem;
        border-radius: 5px;
        margin-top:.14rem;
      }
    }
    .team-item-center {
      margin-top:.1rem;
      color:#b9b9b9;
      border-top:1px solid #e0e0e0;
      padding-top:5px;
      .item-center-script {
        line-height:.22rem;
        overflow: hidden;
        p{
         font-size:.09rem;
          line-height:.13rem;
        }
      }
    }
    .team-item-more {
      margin-top: .08rem;
      border-top:1px solid #e0e0e0;
      height:.4rem;
      line-height:.4rem;
      font-size:.1rem;

      a {
        float:right;
        img {
          margin-top:.12rem;
          width:.13rem;
          height:.13rem;
        }
      }
    }
  }
}

.order-detail {
  .banner {
    width:100%;
    height:1.8rem;
    img {
      width:100%;
      height:100%;
    }
  }
  .police {
    height:.56rem;
    width:100%;
    background:#fff;
    line-height:.56rem;
    span {
      color:#000;
      font-size:.15rem;
      margin-left:.25rem;

    }
    a {
      margin-left:.15rem;
      font-size:.12rem;
      color: #a9a9a9;
    }
    .top-button {
      float: right;
      background: #003da9;
      width: .8rem;
      height:.26rem;
      color: #fff;
      text-align: center;
      line-height:.26rem;
      border-radius: 5px;
      margin-top:.15rem;
      margin-right:.22rem;
    }
  }
  .police-content {
    background:#fff;
    margin-top:5px;
    padding: .1rem  .2rem .3rem .25rem;
    line-height:.56rem;
     span{
       line-height:.4rem;

     }
    p {
      text-indent: .2rem;
      line-height:.3rem;
    }
  }
}