.order-list {
  .team-box {
    width:88%;
  }
  .center {
    position:relative;
    margin:0 auto;
  }
  .team-item {
    width:100%;
    height:auto;
    border:1px solid #a9a9a9;
    border-radius: 5px;
    margin-top:.2rem;
    overflow: hidden;
    .team-center{
      width:80%;
      margin:0 auto;
      position:relative;
    }
    .team-item-top {
      height:.62rem;
      margin-top:.2rem;
      img {
        width:.62rem;
        height:.62rem;
        float:left
      }
      .top-center {
        width:40%;
        float:left;
        margin-top:.05rem;
        margin-left:.1rem;

        span{
          line-height:.28rem;
          font-size:.16rem;
        }
        .gray {
          color:#a9a9a9;
          font-size:.14rem;
        }
      }
      .top-button {
        float: right;
        background: #0034da;
        width: .67rem;
        height:.26rem;
        color: #fff;
        text-align: center;
        line-height:.26rem;
        border-radius: 5px;
        margin-top:.15rem;
      }
    }
    .team-item-center {
      margin-top:.1rem;
      color:#b9b9b9;
      border-top:1px solid #a9a9a9;
      padding-top:5px;
      .item-center-script {
        line-height:.22rem;
      }
    }
    .team-item-more {
      margin-top: .1rem;
      border-top:1px solid #a9a9a9;
      height:.4rem;
      line-height:.4rem;
      a {
        float:right;
        color:#b9b9b9;
      }
    }
  }
}

.order-detail {
  .banner {
    width:100%;
    height:1.8rem;
    img {
      width:100%;
      height:100%;
    }
  }
  .police {
    height:.58rem;
    width:100%;
    background:#fff;
    line-height:.58rem;
    span {
      color:#000;
      font-size:.18rem;
      margin-left:.2rem;

    }
    a {
      margin-left:.2rem;
      color: #a9a9a9;
    }
    .top-button {
      float: right;
      background: #0034da;
      width: .67rem;
      height:.26rem;
      color: #fff;
      text-align: center;
      line-height:.26rem;
      border-radius: 5px;
      margin-top:.2rem;
      margin-right:.2rem;
    }
  }
  .police-content {
    background:#fff;
    margin-top:10px;
    padding: .1rem  .2rem .3rem .2rem;
     span{
       line-height:.4rem;
     }
    p {
      text-indent: .2rem;
      line-height:.3rem;
    }
  }
}