.people-detail {
   padding-top: 5%;
   height:90%;
  .detail-box {
    width: 88%;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    min-height: 100%;
  }
  .center {
    position: relative;
    margin: 0 auto;
  }
  .team-center {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .team-item-top {
    height: .62rem;
    margin-top: .2rem;
    img {
      width: .62rem;
      height: .62rem;
      float: left;
      border-radius: 50%;
    }
    span {
      line-height: .66rem;
      font-size: .2rem;
      margin-left: .1rem;
    }
  }
  .team-item-center {
    margin-top: .3rem;
    color: #b9b9b9;
    .item-center-script {
      height: .4rem;
      line-height: .3rem;
      border-top:1px solid #e0e0e0;
      font-size:.18rem;
      color:#676666;
    }
    .item-center-contain{
      color:#676666;
      //height: .3rem;
      line-height: .3rem;
      border-top:1px solid #e0e0e0;
      font-size:.18rem;
      padding: .1rem 0;

    }
  }
}