.info {
  font-size: .18rem;

  .title {
    font-size: .24rem;
    text-align: center;
    margin: .3rem;
  }

  .info-mobile {
    padding-left: .2rem;
    width: 3rem;
    margin: 0 auto;
    margin-bottom: .2rem;

    span {
      width: .6rem;
      text-align: justify;
      display: inline-block;
    }

    .mobile-input{
      height: .3rem;
      padding: .02rem;
      margin-left: .1rem;
      border: 1px solid #adafb1;
      border-radius: .04rem;
    }
  }

}
